{% for rule in netbox_bgp.RoutingPolicyRule.objects.all() %}
{% if rule.routing_policy.name in ["EXPORT-TO-IXA", "EXPORT-TO-UFINET", "SET-LOCAL-PREF-IXA", "SET-LOCAL-PREF-UFINET"] %}
route-policy {{ rule.routing_policy.name }} {{ rule.action }} node {{ rule.index }}
{# Match conditions #}
{% if rule.match_ipv6_address.exists() %}
 {% for prefix_list in rule.match_ipv6_address.all() %}
 if-match ipv6 address prefix-list {{ prefix_list.name }}
 {% endfor %}
{% elif rule.match_ip_address.exists() %}
 {% for prefix_list in rule.match_ip_address.all() %}
 if-match ip address prefix-list {{ prefix_list.name }}
 {% endfor %}
{% endif %}
{# Apply actions #}
{% if rule.cf.apply_community %}
 {% set target_community_name = rule.cf.apply_community %}
 {% for community in netbox_bgp.Community.objects.all() %}
  {% if community.name == target_community_name or community.value == target_community_name %}
 apply community {{ community.value }}
  {% endif %}
 {% endfor %}
{% endif %}
{% if rule.cf.local_preference %}
 apply local-preference {{ rule.cf.local_preference }}
{% endif %}
{% if rule.cf.as_path_prepend_count and rule.cf.as_path_prepend_count > 0 %}
 apply as-path {{ device.cf.local_asn }} {{ device.cf.local_asn }} additive
{% endif %}
quit
{% endif %}
{% endfor %}
