bgp {{ device.cf.local_asn }}
 router-id {{ device.primary_ip4.address.ip if device.primary_ip4 else '0.0.0.0' }}

{% for session in netbox_bgp.BGPSession.objects.all() %}
{% if session.device.name == device.name %}
 peer {{ session.remote_address.address.ip }} as-number {{ session.remote_as.asn }}
{% endif %}
{% endfor %}

