{# Configuración BGP principal #}
{# Extraer ASN local de la primera sesión BGP #}
{% set local_asn = device.bgp_sessions.all() | first | attr('local_as') | attr('asn') if device.bgp_sessions.all() | first else '65000' %}

bgp {{ local_asn }}
 router-id {{ device.primary_ip4.address.ip if device.primary_ip4 else '0.0.0.0' }}

{# Definición global de vecinos BGP #}
{% for session in device.bgp_sessions.all() %}
 peer {{ session.remote_address.address }} as-number {{ session.remote_as.asn }}
{% endfor %}
