{# === DIAGNOSTIC TEMPLATE === #}
Device Name: {{ device.name }}

Custom Fields:
{% for key, value in device.custom_fields.items() %}
  {{ key }}: {{ value }}
{% endfor %}

Primary IP4: {{ device.primary_ip4.address if device.primary_ip4 else 'Not set' }}

Available attributes of device:
{% for attr in device | list | sort %}
  - {{ attr }}
{% endfor %}

{# Try to access BGP sessions #}
{% if bgp_sessions is defined %}
BGP Sessions found (using 'bgp_sessions'):
  {% for session in bgp_sessions %}
    - Session: {{ session.name }}, Remote: {{ session.remote_address.address }}
  {% endfor %}
{% else %}
BGP Sessions NOT available via 'bgp_sessions'
{% endif %}

{% if nb_bgp_sessions is defined %}
BGP Sessions found (using 'nb_bgp_sessions'):
  {% for session in nb_bgp_sessions %}
    - Session: {{ session.name }}, Remote: {{ session.remote_address.address }}
  {% endfor %}
{% else %}
BGP Sessions NOT available via 'nb_bgp_sessions'
{% endif %}

{# Check all available context variables #}
All context variables:
{% for key in context.keys() | sort %}
  - {{ key }}
{% endfor %}
