{# =========================
   IPv4
   ========================= #}
{% set ipv4_addresses = intf.ip_addresses.all()
   | selectattr('family.value', 'equalto', 4)
   | list %}

{% for ip in ipv4_addresses %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
{% endfor %}

{# =========================
   IPv6
   ========================= #}
{% set ipv6_addresses = intf.ip_addresses.all()
   | selectattr('family.value', 'equalto', 6)
   | list %}

{# Habilitar IPv6 solo si:
   - hay IPv6
   - no es Loopback
#}
{% if ipv6_addresses and not intf.name | lower | startswith('loop') %}
 ipv6 enable
{% endif %}

{% for ip in ipv6_addresses %}
 ipv6 address {{ ip.address }}
{% endfor %}
