sysname {{ device.name }}
system-view

{% for intf in device.interfaces.all() | selectattr('enabled', '==', True) %}
{% if intf.name %}

interface {{ intf.name }}
{% if intf.description %} description {{ intf.description }}{% endif %}
 ipv6 enable

{# Direcciones IPv6 #}
{% set ipv6_addresses = intf.ip_addresses.all() | selectattr('family', 'equalto', 6) %}
{% for ip in ipv6_addresses %}
 ipv6 address {{ ip.address }}
{% endfor %}

 undo shutdown
quit

{% endif %}
{% endfor %}

commit
return
